:root {
    --background: #DEE1D6;
    --cyan: #00B2A2;
    --magenta: #ED147F;
    --black: #000;
    --white: #FFF;
}


/* EMBED FONT */
/* @font-face {
    font-family: 'BasicCommercial';
    src:  url('/assets/fonts/BasicCommercialLT-Roman.woff2') format('woff2'),
          url('/assets/fonts/BasicCommercialLT-Roman.woff') format('woff');
} */
/* --------------------IMPORT FONT "INTER"------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* ----------------------TYPO------------------------- */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 4.75rem;
    margin: 0;
}

p {
    font-weight: 400;
    padding-left: 10px;
    font-size: 12px;
}

div {
    display: flex;
    align-items: center;
}



/* -------------------- LAYOUT ------------------------- */

#grid {
    display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(10, 80px);
    gap: 10px;

    justify-content: center;
    align-content: center;

    height: 100vh;
}


.cyan {
    background-color: var(--cyan);
}

.magenta {
    background-color: var(--magenta);
}

.black {
    background-color: var(--black);
}

.double {
    grid-column: span 2;
}

.title {
    grid-column: span 5;
}

.mobile-tile {
    display: none;
}



/* ------------- FOR SCREEN SMALLER 1000px ---------------- */
@media screen and (max-width: 1000px) {

    #grid {
        display: grid;
        grid-template-columns: repeat(12, 80px);
        grid-template-rows: repeat(12, 80px);
        height: auto;
    }
    
    .empty-desktop {
        display: none;
    }

    .mobile-tile {
        display: block;
    }
}


@media screen and (max-width: 620px) {
    
}
