:root {
    --background: #DEE1D6;
    --cyan: #00B2A2;
    --magenta: #ED147F;
    --black: #000;
    --white: #FFF;
}

/* --------------------IMPORT FONT "INTER"------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* ----------------------TYPO------------------------- */
body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
    margin: 0;

    /* FINAL ADJUSTMENTS */
    overflow: hidden;
    transform: rotate(-45deg);
}

h1 {
    font-weight: 700;
    font-size: 6rem;
    margin: 0;
    padding-left: 20px;
}

p {
    font-weight: 500;
    padding-left: 20px;
    font-size: 1.5rem;
}

div {
    display: flex;
    align-items: center;
}



/* -------------------- LAYOUT ------------------------- */

#grid {
    display: grid;
    grid-template-columns: repeat(20, 150px);
    grid-template-rows: repeat(25, 150px);
    gap: 10px;

    justify-content: center;
    align-content: center;

    /* ADJUST HIGHT OF GRID */
    height: 120vh;
}


.cyan {
    background-color: var(--cyan);
}

.magenta {
    background-color: var(--magenta);
}

.black {
    background-color: var(--black);
}

.double {
    grid-column: span 2;
}

.title {
    grid-column: span 4;
}


/* ------------- FOR SCREEN SMALLER 1000px ---------------- */
@media screen and (max-width: 1000px) {

}


@media screen and (max-width: 620px) {

}
